.About {
  display: flex;
  justify-content: center;
  padding: 5%;
  background-color: rgb(240, 240, 240);
}

.About__redShadow {
  -webkit-box-shadow: -74px -20px 200px 200px rgba(255, 0, 0, 0.28);
  -moz-box-shadow: -74px -20px 200px 200px rgba(255, 0, 0, 0.28);
  box-shadow: -74px -20px 200px 200px rgba(255, 0, 0, 0.28);
  width: 25%;
}

.container {
  max-width: 1200px;
}

.about__general {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.about__info {
  width: 50%;
}

.about__info h2 {
  font-size: 50px;
}

.about__info p {
  font-size: 20px;
  line-height: 33px;
}

.about__info_image {
  width: 50%;
}

.about__info_image img {
  width: 100%;
}
/*  */

.goals {
  padding-bottom: 5%;
  background-color: rgb(240, 240, 240);
}

.goals__general {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
}

.goals__image {
  width: 40%;
}

.goals__image img {
  width: 80%;
}

.goals__info {
  width: 40%;
}

.goals__info p {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 22px;
}

.goalsBtn {
  padding: 15px;
  width: 220px;
  border-radius: 15px;
  border: none;
  background-color: red;
  color: white;
  font-size: 20px;
}

/*  */

.assortiment {
  padding-top: 5%;
  padding-bottom: 5%;
}

.assortiment__general {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.assortiment__info {
  width: 40%;
}

.assortiment__info p {
  /* font-family: Gotham; */
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 22px;
}

.assortiment__image {
  width: 40%;
}

.assortiment__image img {
  margin-left: 100px;
  width: 80%;
}

/*  */

.team {
  padding: 3% 0% 5%;
  background-color: rgb(240, 240, 240);
}

.team__general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__info {
  text-align: center;
}

.team__info h2 {
  color: red;
  text-transform: uppercase;
  /* font-family: Gotham; */
  font-size: 20px;
  padding-left: 12px;
}

.team__info p {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 22px;
  /* font-family: Gotham; */
}

.team__info span {
  font-family: Gotham;
  text-align: center;
  line-height: 22px;
  margin-bottom: 22px;
  color: rgb(14, 14, 14);
  font-size: 20px;
}

.team__line {
  width: 81%;
  margin: 2%;
  color: black;
}

.team__images {
  display: flex;
  max-width: 100%;
  justify-content: center;
  gap: 20px;
}

.team__main_image {
  width: 50%;
}

.team__main_image img {
  width: 100%;
}

.team__other_images {
  width: 31%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team__other_images img {
  width: 101%;
}

@media screen and (max-width: 993px) {
  .about__info h2 {
    font-size: 44px;
  }

  .goals__image img {
    width: 100%;
  }

  .goals__info {
    width: 50%;
  }

  .assortiment__image img {
    margin-left: 34px;
    width: 100%;
  }

  .assortiment__info {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .about__general {
    flex-direction: column;
  }

  .about__info {
    width: 100%;
  }

  .about__info_image {
    width: 100%;
  }

  .goals__general {
    flex-direction: column-reverse;
    align-items: center;
  }

  .goals__info {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .goals__image {
    width: 55%;
  }

  .assortiment__general {
    flex-direction: column;
    align-items: center;
  }

  .assortiment__info {
    width: 65%;
    text-align: center;
  }

  .assortiment__image {
    width: 55%;
  }
}

@media screen and (max-width: 576px) {
  .goals__info {
    width: 89%;
  }

  .goals__image {
    width: 80%;
  }

  .assortiment__info {
    width: 100%;
  }

  .assortiment__image {
    width: 80%;
  }

  .assortiment__image img {
    margin-left: 0;
  }

  .team__images {
    flex-direction: column;
    align-items: center;
  }

  .team__main_image {
    width: 90%;
  }

  .team__other_images {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .about__general {
    padding-top: 5%;
  }

  .about__info h2 {
    font-size: 27px;
  }

  .team__info p {
    font-size: 18px;
  }
}
