.favourites {
  display: flex;
  justify-content: center;
  padding-top: 17%;
  background-color: rgb(240, 240, 240);
  height: 50vh;
}

.favourites__general {
  display: flex;
  gap: 92px;
}

.favoutites__img {
  width: 190px;
}

.favoutites__img img {
  width: 100%;
}

.favourites__info {
  display: flex;
  flex-direction: column;
}

.favouritesBtn {
  width: 300%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 85, 85);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.favouriteProducts {
  height: 100vh;
  padding-top: 10%;
  padding-left: 8%;
}

.favouritesCards {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.favouritesCard {
  width: 20%;
}

.FavouritesCard_image {
  width: 100%;
}

.favouritesCard__info {
  width: 80%;
}

.FavouritesCard_image img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .favourites {
    height: 70vh;
  }

  .favourites__general {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .favourites__info {
    display: flex;
    align-items: center;
  }

  .favouritesBtn {
    width: 100%;
  }
}
