@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* первая секция Main */

.main {
  background-image: url(../../assets//model.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.redShadow {
  box-shadow: -134px 23px 400px 133px rgba(255, 104, 104, 0.75);
  -webkit-box-shadow: -134px 23px 400px 133px rgba(255, 104, 104, 0.75);
  -moz-box-shadow: -134px 23px 400px 133px rgba(255, 104, 104, 0.75);
  width: 25%;
}

.yellowShadow {
  -webkit-box-shadow: -20px -23px 100px 100px rgba(255, 206, 0, 0.28);
  -moz-box-shadow: -20px -23px 100px 100px rgba(255, 206, 0, 0.28);
  box-shadow: -20px -23px 100px 100px rgba(255, 206, 0, 0.28);
  width: 20%;
  margin-left: 70%;
}

.container {
  max-width: 1200px;
}

.main__general {
  max-width: 100%;
  display: flex;
}

.main__info {
  padding: 11% 0 18% 15%;
}

.main__info p {
  font-family: "Montserrat";
  line-height: 25px;
  font-weight: 600;
  font-size: 20px;
}

h1 span {
  font-size: 72px;
  padding: 15px;
  font-family: "Open Sans";
}

.advantages {
  display: flex;
  align-items: center;
  gap: 140px;
  padding-top: 3%;
}

.advantages__info {
  border-left: 5px solid red;
  padding: 5px;
}

.advantages__catalog button {
  padding: 15px;
  width: 200px;
  background-color: rgb(255, 85, 85);
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 600;
}

/* хиты продаж, рекомендации и новинки */

.sundry {
  padding: 10%;
  background-color: rgb(240, 240, 240);
}

.sundry__general {
  max-width: 100%;
  display: flex;
  gap: 30px;
}

.sundry__news img {
  width: 100%;
  border-radius: 40px;
}

.sundry__news {
  position: relative;
}

.news_arrow {
  position: absolute;
  width: 10% !important;
  height: 50px;
  top: 20px;
  left: 85%;
}

.sundry__news a {
  display: none;
}

.sundry__news h2 {
  position: absolute;
  top: 70%;
  left: 6%;
  color: white;
  font-size: 40px;
}

.sundry__recommended img {
  width: 100%;
  border-radius: 40px;
}

.sundry__recommended {
  position: relative;
}

.recommended_arrow {
  width: 10% !important;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 85%;
}

.sundry__recommended h2 {
  position: absolute;
  top: 65%;
  left: 6%;
  color: white;
}

.sundry__hits {
  position: relative;
}

.hits_arrow {
  width: 10% !important;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 85%;
}

.sundry__hits h2 {
  position: absolute;
  top: 65%;
  left: 6%;
  color: white;
}

.sundry__hits img {
  width: 100%;
  border-radius: 40px;
}

.sundry__right_side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* карточки с товарами */

.cards {
  background-color: rgb(240, 240, 240);
}

.card {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.card__item {
  position: relative;
}

.card__image {
  width: 206px;
  height: 322px;
  border-radius: 20px;
}

.card__info {
  position: absolute;
  width: 100%;
  height: 33%;
  border-radius: 20px;
  top: 215px;
  background-color: white;
}

.card__info_text {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.card__info_text span {
  padding-bottom: 15%;
}

.card__info_text p {
  margin: 0;
}

.card__image_block {
  position: relative;
}

.basket {
  position: absolute;
  top: 200px;
  right: 10px;
  z-index: 3;
  background: rgba(255, 85, 85, 0.6);
  padding: 10px;
  border-radius: 20px;
}

/* кнопка все товары */

.allProducts {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.allProductsBtn {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 200;
  font-size: 20px;
  color: rgb(255, 85, 85);
}

/* категории */

.categories {
  background-color: rgb(240, 240, 240);
  padding-bottom: 15%;
}

.categories h2 {
  margin: 0;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 30px;
  letter-spacing: 0.1em;
}

.categories__general {
  display: flex;
  gap: 150px;
  justify-content: center;
}

.mens__clothes {
  position: relative;
}

.men__clothes_info_block {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 310px;
  align-items: center;
  height: 111px;
  top: 73px;
  left: -25px;
  position: absolute;
  padding-top: 100px;
  border-radius: 20px;
}

.men__clothes_info_block h3 {
  line-height: 1.33;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.mens__clothes_info {
  display: flex;
  gap: 20px;
  color: black;
  background-color: white;
}

.mens__clothes_info a {
  display: flex;
  /* -webkit-box-align: center; */
  align-items: center;
  gap: 9px;
  /* font-family: Gotham; */
  /* font-size: var(--chakra-fontSizes-md); */
  color: rgb(0, 0, 0);
  cursor: pointer;
  letter-spacing: -0.05em;
  text-decoration: none;
}

.categories__images {
  width: 260px;
  height: 190px;
  border-radius: 20px;
  position: relative;
  z-index: 4;
}

.womens__clothes {
  position: relative;
}

.womens__clothes_info_block {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 310px;
  align-items: center;
  height: 111px;
  top: 73px;
  left: -25px;
  position: absolute;
  padding-top: 100px;
  border-radius: 20px;
}

.womens__clothes_info_block h3 {
  line-height: 1.33;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.womens__clothes_info {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.womens__clothes_info a {
  display: flex;
  /* -webkit-box-align: center; */
  align-items: center;
  gap: 9px;
  /* font-family: Gotham; */
  /* font-size: var(--chakra-fontSizes-md); */
  color: rgb(0, 0, 0);
  cursor: pointer;
  letter-spacing: -0.05em;
  text-decoration: none;
}

.kids__clothes {
  position: relative;
}

.kids__clothes_info {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.kids__clothes_info_block {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 310px;
  align-items: center;
  height: 111px;
  top: 73px;
  left: -25px;
  position: absolute;
  padding-top: 100px;
  border-radius: 20px;
}

.kids__clothes_info_block h3 {
  line-height: 1.33;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.kids__clothes_info_block a {
  display: flex;
  /* -webkit-box-align: center; */
  align-items: center;
  gap: 9px;
  /* font-family: Gotham; */
  /* font-size: var(--chakra-fontSizes-md); */
  color: rgb(0, 0, 0);
  cursor: pointer;
  letter-spacing: -0.05em;
  text-decoration: none;
}

/* фуллфилмент */

.fullfilment {
  background-color: rgb(240, 240, 240);
  margin: 0;
}

.fullfilment__title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fullfilment__box {
  width: 36px;
  height: 36px;
}

.fullfilment__general {
  margin: 0% 6% 0%;
}

.fullfilment__info {
  background-image: url(../../assets//fullfilment.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 32vh;
  padding: 15% 5%;
  border-radius: 16px;
}

.fullfilment__info h2 {
  font-size: 40px;
  margin: 0;
}

.fullfilment__info span {
  font-size: 20px;
}

.fullfilment__info p {
  font-size: 20px;
}

/* преимущества */

.advantages__cards {
  background-color: rgb(240, 240, 240);
  padding-top: 10%;
}

.advantages__cards_general {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
  padding: 5%;
}

.price__card {
  background-color: white;
  width: 25%;
  padding: 4% 1% 0;
  height: 30vh;
  border-radius: 15px;
  position: relative;
}

.coin {
  position: absolute;
  top: -80px;
  left: 105px;
  background-color: white;
  border-radius: 15px;
  box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
}

.order__card {
  background-color: white;
  width: 25%;
  padding: 4% 1% 0;
  height: 30vh;
  border-radius: 15px;
  position: relative;
}

.shoper {
  position: absolute;
  top: -80px;
  left: 115px;
  background-color: white;
  border-radius: 15px;
  box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
}

.delivery__card {
  background-color: white;
  width: 25%;
  padding: 4% 1% 0;
  height: 30vh;
  border-radius: 15px;
  position: relative;
}

.like {
  position: absolute;
  top: -80px;
  left: 120px;
  background-color: white;
  border-radius: 15px;
  box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -13px 2px 5px 4px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 1200px) {
  .categories__general {
    gap: 82px;
  }

  .price__card {
    height: 35vh;
  }

  .delivery__card {
    height: 35vh;
  }

  .order__card {
    height: 35vh;
  }

  .coin {
    left: 70px;
    width: 138px;
    height: 138px;
  }

  .like {
    left: 76px;
  }

  .shoper {
    left: 84px;
  }
}

@media screen and (max-width: 993px) {
  .main {
    background-size: 100%;
  }

  .main__info {
    padding: 7% 0 0% 13%;
  }

  .sundry__news h2 {
    top: 65%;
  }

  .sundry__news_image img {
    border-radius: 25px;
  }

  .sundry__recommended h2 {
    top: 56%;
  }

  .sundry__recommended img {
    border-radius: 15px;
  }

  .advantages__cards_general {
    padding: 0%;
  }

  .sundry__hits h2 {
    top: 56%;
  }

  .sundry__hits img {
    border-radius: 15px;
  }

  .advantages__cards_general {
    gap: 100px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .main__info {
    padding: 0% 0 0% 9%;
  }

  .main__info p {
    font-size: 17px;
  }

  h1 span {
    font-size: 54px;
  }

  .advantages {
    padding-top: 0;
    padding-bottom: 3%;
  }

  .advantages__catalog button {
    padding: 8px;
  }

  .sundry__general {
    flex-direction: column;
  }

  .sundry__recommended h2 {
    top: 73%;
  }

  .sundry__hits h2 {
    top: 73%;
  }

  .categories__general {
    flex-direction: column;
    align-items: center;
    gap: 150px;
  }

  .categories h2 {
    padding-left: 37%;
  }

  .fullfilment__general {
    padding: 11% 1% 5%;
  }

  .advantages__cards_general {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .price__card {
    width: 35%;
  }

  .order__card {
    width: 35%;
  }

  .delivery__card {
    width: 35%;
  }
}

@media screen and (max-width: 576px) {
  .main {
    background-size: cover;
  }

  .main__info {
    padding: 10% 0px 10% 9%;
  }

  .advantages {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .advantages__cards_general {
    flex-direction: column;
  }

  .price__card {
    width: 60%;
    padding-top: 8%;
  }

  .order__card {
    width: 60%;
    padding-top: 8%;
  }

  .delivery__card {
    width: 60%;
    padding-top: 8%;
  }

  .coin {
    left: 33%;
  }

  .shoper {
    left: 33%;
  }

  .like {
    left: 33%;
  }

  .fullfilment {
    border-radius: 0px;
    margin: 0% 0% 0%;
    padding: 13% 5%;
  }

  .fullfilment__info h2 {
    font-size: 30px;
  }

  .fullfilment__general {
    padding: 1% 1% 5%;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 20px;
  }

  .h1 span {
    font-size: 46px;
    padding: 8px;
  }

  .main__info {
    padding: 10% 0px 10% 6%;
  }

  .main__info p {
    font-family: "Montserrat";
    line-height: 30px;
    font-weight: 400;
  }

  .sundry {
    padding: 30% 4% 12% 4%;
  }

  .sundry__news h2 {
    top: 41%;
  }

  .sundry__recommended h2 {
    top: 50%;
  }

  .sundry__hits h2 {
    top: 50%;
  }

  .card {
    padding-top: 15%;
  }

  .categories h2 {
    padding-left: 23%;
  }

  .advantages__cards {
    padding-top: 37%;
  }

  .price__card {
    width: 95%;
    padding-top: 13%;
  }

  .coin {
    left: 28%;
  }

  .order__card {
    padding-top: 13%;
    width: 95%;
  }

  .shoper {
    left: 28%;
  }

  .delivery__card {
    width: 95%;
    padding-top: 13%;
  }

  .like {
    left: 28%;
  }
}
