header {
  /* display: none !important; */
  padding: 1%;
  box-sizing: border-box;
  width: 85%;
  position: absolute;
  left: 8%;
}

.burger__menu {
  display: none;
}

.header__general {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 71px;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: black;
  position: fixed;
  z-index: 20;
}

.header__logo span {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #f66;
  transition: 0.5s;
}

.navbar {
  display: flex;
}

.nav__search {
  padding-left: 150px;
  display: flex;
  align-items: center;
}

.nav__search input {
  width: 175px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  border-bottom: 2px solid white;
}

.header__search {
  width: 16px;
  height: 16px;
}

.header__cart {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header__favorites {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.nav__right_side {
  display: flex;
  align-items: center;
}

.header__settings {
  display: flex;
  gap: 30px;
  margin-left: 85px;
}

.openMenuBtn {
  display: none;
}

@media screen and (max-width: 1300px) {
  header {
    left: 0%;
  }

  .burger__menu {
    position: absolute;
    z-index: 100;
    display: flex;
    width: 80%;
    left: 8%;
    border-radius: 16px;
    padding: 20px 50px;
    color: white;
    background-color: black;
  }

  .burger__menu button {
    margin-left: 90%;
  }

  .header__general {
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    align-items: flex-start;
  }

  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header__logo span {
    color: black;
  }
  .navbar {
    flex-direction: column-reverse;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .nav a {
    color: black;
  }

  .nav__search input {
    border: 1px solid black;
    width: 60vw;
    color: black;
  }

  .nav__search {
    padding-left: 0;
  }

  .header__settings {
    flex-direction: column;
    border: 1px solid black;
    margin: 0;
    width: 98%;
    padding-bottom: 10px;
  }

  .nav__right_side {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  .openMenuBtn {
    display: block;
    float: right;
    z-index: 30;
  }
}

@media screen and (max-width: 893px) {
  .burger__menu {
    width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .burger__menu {
    left: -8%;
  }

  .burger__menu button {
    margin-left: 70%;
  }
}
