header {
  padding: 1%;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 50;
}

.header__general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 71px;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: black;
}

.header__logo span {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #f66;
  transition: 0.5s;
}

.nav__search {
  padding-left: 100px;
  display: flex;
  align-items: center;
}

.nav__search input {
  width: 175px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  border-bottom: 2px solid white;
}

.header__search {
  width: 16px;
  height: 16px;
}

.header__cart {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header__favorites {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.nav__right_side {
  display: flex;
  align-items: center;
}

.header__settings {
  display: flex;
  gap: 30px;
  margin-left: 85px;
}

.burgerBtn {
  display: none;
  position: relative;
  border: none;
  width: 20px;
  height: 1px;
}

.burgerBtn span {
  position: absolute;
  left: -28px;
  top: 13px;
  width: 47px;
  height: 0px;
  color: white;
  border: 1px solid white;
}

.burgerBtn:nth-child(1) {
  top: 20px;
}

.navbar {
  display: flex;
}

@media screen and (max-width: 1417px) {
  .header__general {
    gap: 44px;
  }

  .nav__search {
    padding-left: 70px;
  }

  .nav {
    gap: 30px;
  }
}

@media screen and (max-width: 1300px) {
  .burgerBtn {
    display: block;
    /* margin-left: 80%; */
  }
  /* 
  header{
    width: 100%;
    left: 0;
    top: 0;
    padding:0;
  } */

  .header__logo {
    display: flex;
    align-items: center;
    gap: 888px;
  }

  .header__general {
    justify-content: flex-start;
  }

  .navbar {
    justify-content: flex-start;
    flex-direction: column-reverse;
    display: none;
  }

  .nav__right_side {
    flex-direction: column;
    gap: 30px;
    padding-bottom: 5%;
    align-items: flex-start;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__search {
    padding: 0;
  }

  .nav__search input {
    width: 500px;
  }

  .header__settings {
    margin-left: 0;
    flex-direction: column;
  }
}

.headerStyle {
  display: flex;
}
