header {
  padding: 1%;
  box-sizing: border-box;
  width: 85%;
  position: absolute;
  left: 8%;
}

.header__general {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 71px;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: black;
  position: fixed;
  z-index: 20;
}

.header__logo span {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #f66;
  transition: 0.5s;
}

.navbar {
  display: flex;
}

.nav__search {
  padding-left: 150px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav__search input {
  width: 175px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  border-bottom: 2px solid white;
}

.header__search {
  width: 16px;
  height: 16px;
}

.header__cart {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header__favorites {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header__settings {
  display: flex;
  gap: 30px;
  margin-left: 85px;
  align-items: center;
  flex-wrap: wrap;
}
