footer {
  background-color: black;
  color: white;
  padding: 2% 9% 3% 9%;
}

.footer__nav_block {
  display: flex;
  gap: 230px;
  justify-content: center;
  padding-top: 2%;
  padding-right: 5%;
}

.footer__nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 1%;
}

.footer__nav a {
  color: white;
  text-decoration: none;
}

.footer__line hr {
  margin: 0;
  background: black;
  padding-top: 3%;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
/*  */

.connect_with_us h3 {
  margin: 0;
  text-align: center;
}

.contacts {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 1% 0% 2% 7%;
}

.contacts button {
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 35px;
  display: flex;
  width: 25%;
  border: 3px solid white;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  font-weight: 600;
}

.whatsapp {
  margin-right: -80px;
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 1200px) {
  .contacts {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8%;
    padding: 1% 0% 0 0;
  }
}

@media screen and (max-width: 993px) {
  .footer__nav_block {
    gap: 190px;
  }

  .contacts {
    gap: 2%;
  }

  .contacts button {
    gap: 19px;
  }

  .whatsapp {
    margin-right: -59px;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    flex-direction: column;
  }

  .contacts button {
    width: 35%;
  }

  .footer__logo {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .footer__nav {
    flex-wrap: wrap;
  }

  .contacts button {
    width: 52%;
  }
}

@media screen and (max-width: 320px) {
  .contacts p {
    font-size: 14px;
  }

  .contacts button {
    width: 75%;
  }

  .footer__nav {
    gap: 25px;
  }
}
