footer {
  background-color: black;
  color: white;
  padding: 2% 9% 3% 9%;
}

.footer__nav_block {
  display: flex;
  gap: 230px;
  justify-content: center;
  padding-top: 2%;
  padding-right: 5%;
}

.footer__nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 1%;
}

.footer__nav a {
  color: white;
  text-decoration: none;
}

.footer__line hr {
  margin: 0;
  background: black;
  padding-top: 3%;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
/*  */

.connect_with_us h3 {
  margin: 0;
  text-align: center;
}

.contacts {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 1% 0% 2% 7%;
}

.contacts button {
  padding: 7px;
  justify-content: center;
  align-items: center;
  gap: 35px;
  display: flex;
  width: 25%;
  border: 3px solid white;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  font-weight: 600;
}

.whatsapp {
  margin-right: -80px;
  width: 34px;
  height: 34px;
}
